.mainContainer {
  @apply justify-between items-center pt-4 bg-transparent flex-wrap;
}
.logo_container {
  @apply flex flex-shrink-0 w-1/3 cursor-pointer justify-center align-middle content-center;
}
.logo_text {
  @apply flex text-2xl text-granite-gra font-Ephesis justify-center align-middle content-center;
}
.nav_container {
  @apply hidden md:flex overflow-x-hidden  font-semibold;
}
.tab_name {
  @apply mx-10 p-1 border-b-2 border-transparent font-Lexend font-light
       hover:border-granite-gra text-xs
          focus-within:border-granite-gra;
}
.tab_nav {
  @apply text-granite-gra font-Lexend font-light;
}
.icon_container {
  @apply items-center p-2 w-1/3 justify-end hidden md:flex overflow-x-hidden mr-10 font-semibold justify-items-end;
}
.icon {
  @apply mr-1 p-2 align-middle;
}
.container1 {
  @apply flex;
}
@tailwind base;
.container2 {
  @apply flex py-4 border-t-gainsboro border-t-[0.7px] justify-center;
}
.searchContainer {
  @apply align-middle w-1/3 flex justify-center;
}
.searchInput {
  @apply flex  flex-wrap items-stretch w-2/3 align-middle;
}
.search {
  @apply h-4/6 block w-[1px] min-w-0 flex-auto rounded-l
  border border-solid border-gainsboro bg-transparent
  bg-clip-padding px-3 py-[0.25rem] text-base font-normal
  leading-[1.6] text-neutral-700 outline-none
  transition duration-200 ease-in-out focus:z-[3]
  focus:border-gainsboro focus:text-neutral-700
  focus:shadow-[inset_0_0_0_1px_rgb(80,80,80)]
  focus:outline-none dark:border-neutral-600
  dark:text-neutral-200 dark:placeholder:text-neutral-200
  dark:focus:border-gainsboro;
}
.btnSearch {
  @apply h-5/6  z-[2]  flex items-center  px-6 py-2.5;
}
.headerContainer {
  @apply w-1/4 h-full bg-white flex flex-col;
}
.txtHeader {
  @apply font-Lexend text-xl font-normal text-quartz my-3 ml-5;
}

.txtDiscount {
  @apply px-5 py-4 font-Lexend font-medium text-sm;
}
.discountContainer {
  @apply flex justify-between mr-5;
}
.discountInput {
  @apply border-gainsboro w-full rounded-lg mx-5;
}
.btnDiscount {
  @apply bg-black text-white py-2 px-4 rounded-lg;
}
.totalContainer {
  @apply flex justify-between mr-5 mt-3;
}
.txtTotal {
  @apply px-5 py-2 font-Lexend font-medium text-sm;
}
.valueTotal {
  @apply py-2 font-Lexend font-semibold text-lg;
}
.btnCheckout {
  @apply bg-black mt-3 w-4/5  h-12 p-3 rounded-lg text-white self-center;
}
